@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, This is my page of Vehicle Registration, thank you so much Felix Benzan and the others who come to see for
    being here and seeing this project !</h1>

Welcome to my new web app😁.



















<h9>Alex Ayala</h9>
