@page "/vehicles"

@using Data.Models
//Language: English\\
<PageTitle>Vehicle Registration</PageTitle>
<h1>Vehicle Registration</h1>



<h2><label>Type of Vehicle</label></h2>
<div class="box">
    <input type="text">
</div>

<h2><label>Brand</label></h2>
<input type="text">
<div class="box"></div>

<h2><label>Model</label></h2>
<input type="text">
<div class="box"></div>

<h2><label>Year</label></h2>
<input type="number">
<div class="box"></div>

<h2><label>Color</label></h2>
<input type="text">
<div class="box"></div>
